<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298053253224-4323t0kuah953jogcpr66dj59ptpqaac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298053253224-4323t0kuah953jogcpr66dj59ptpqaac</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYd4O5wMLPIwyGJGutiPaRqu-nuWFWNs</string>
	<key>GCM_SENDER_ID</key>
	<string>298053253224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jesusaguas.SafeCam</string>
	<key>PROJECT_ID</key>
	<string>tech-to-protect-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-to-protect-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298053253224:ios:cdb3d340ec3f3feafba3dd</string>
	<key>DATABASE_URL</key>
	<string>https://tech-to-protect-hackathon.firebaseio.com</string>
</dict>
</plist>
